{% extends 'base.html' %}
{% block content %}

<h1>All Recipes</h1>

{% for recipe in recipes %}
<a href="{% url 'detail' recipe.id %}">
    <div class="card">
        
            <div class="card-content">
                <span class="card-title"><h3>{{ recipe.title }}</h3></span>
                <p>Prep time: {{ recipe.prep_time }}</p>
                <p>Cook time: {{ recipe.cook_time }}</p>
                <p>Difficulty: {{ recipe.difficulty }}</p>
                <p>Category: {{ recipe.category }}</p>
                <p>Cuisine: {{ recipe.cuisine }}</p>
                <p>Allergens: {{ recipe.allergens }}</p>
            </div>
        
    </div>
</a>
{% endfor %}

{% endblock %}