{% extends 'base.html' %}
{% block content %}

<h1>All Recipes</h1>

{% for recipe in recipes %}
<div class="card">
    
        <div class="card-content">
            <span class="card-title">{{ recipe.title }}</span>
            <p>Prep time: {{ recipe.prep_time }}</p>
            <p>Cook time: {{ recipe.cook_time }}</p>
            <p>Difficulty: {{ recipe.difficulty }}</p>
            <p>Category: {{ recipe.category }}</p>
            <p>Cuisine: {{ recipe.cuisine }}</p>
        </div>
    
</div>
{% endfor %}

{% endblock %}