{% extends 'base.html' %}
{% block content %}

<div class="slider" style="transform: translateY(50%);">
    <ul class="slides">
        <li>
            <img class="responsive-img card-panel" src="https://i.imgur.com/MEvBpz0.png" alt="salad bowl photo">
        </li>
        <li>
            <img class="responsive-img card-panel" src="https://i.imgur.com/gPmHvyL.png" alt="cookie photo">
        </li>
        <li>
            <img class="responsive-img card-panel" src="https://i.imgur.com/0GUgGhG.png" alt="entree photo">
        </li>
        <li>
            <img class="responsive-img card-panel" src="https://i.imgur.com/rZMGClq.png" alt="noodles photo">
        </li>
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems);
    });      
    
</script>
{% endblock %}