body {
    display: flex;
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
    background-size: 1200px 1000px;
  }
    
  main {
    flex: 1 0 auto;
      
  }
    
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: rgb(5, 146, 50);
  }
  
  div.nav-wrapper {
    background-color: rgb(5, 146, 50);
    width: fit-content;
  }
  
  input.btn {
    background-color: rgb(5, 146, 50);
  }

  #search {
    width: 200px !important;
    display: inline;


  }
  
  #search-form {
    display: inline;
  }

  nav {
    background-color: rgb(5, 146, 50);
  }